body {
    background-color: #050505;
}
h1 {
    width: 215%;
    text-align: center;
    color: #f3ecec;
    box-shadow: #706d6d;
    padding: 10px;
    border-radius: 5px; 
    background: #302e2e;
}

.title {
    color: #f3ecec;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top : -5%; left: 5px;
}
.profile-card {
    width: 350px;
    height: 374px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.card-header {
    width: 100%;
    height: 120px;
    background: #08465E 25%;
}
.circle-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-top: -54px;
    margin-bottom: 10px;
    border: 5px solid #ffffff;
    display: block;
}
.User-info span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.Stats-Container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.Stats-Container div {
    text-align: center;
}
.Stats-Container span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}
.Stats-Container div span:last-child {
    font-weight: normal;
    color: #888888;
    font-size: 14px;
}
.followers, .likes, .photos {
    display: inline-block;
    width: 80px;
}
#desktop { 
    width: 1440px;
    height: 720px;
    background: #19A1AE;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
}
#tablet {
    width: 768px;
    height: 720px;
    background: #19A1AE;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}
#mobile {
    width: 375px;
    height: 720px;
    background: #19A1AE;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    margin-right: 100px;
}
.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}